<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        #set( $d = "." )
        #set( $s = "${" )
        #foreach($field in ${table.fields})
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><p>${field.comment}：</p></div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><p>${s}entity$d${field.propertyName}}</p></div>
        #end
    </div>
</div>

<script type="text/javascript">
	action = "${action}";
</script>
